<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Bebidas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-grid class="ion-text-center ion-no ion-no-padding ">

    <ion-row class="ion-no-padding">

      <ion-col size="6" class="ion-no-padding">
        <ion-card>
          <img src="assets/GARRAFA.png" alt="Refrigerantes">

          <ion-item lines="none">
            <ion-label>
              Refrigerantes Lata
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
            <ion-badge color="cinza">350ml</ion-badge>
            <ion-note slot="end" color="dark">R$ <span>5,49</span> </ion-note>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col size="6" class="ion-no-padding">
        <ion-card>
          <img src="assets/LATA.png" alt="Refrigerantes Lata">

          <ion-item lines="none">
            <ion-label>
              Refrigerantes
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
            <ion-badge color="cinza">1,5L</ion-badge>
            <ion-note slot="end" color="dark">R$<span>9,49</span></ion-note>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-no-padding">

      <ion-col size="6" class="ion-no-padding">
        <ion-card>
          <img src="assets/NORMAL.png" alt="Água">

          <ion-item lines="none">
            <ion-label>
              Água sem gás
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
            <ion-badge color="cinza">510ml</ion-badge>
            <ion-note slot="end" color="dark">R$ <span>3,00</span> </ion-note>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col size="6" class="ion-no-padding">
        <ion-card>
          <img src="assets/GAS.png" alt="Água com gás">

          <ion-item lines="none">
            <ion-label>
              Água com gás
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
            <ion-badge color="cinza"> 510ml</ion-badge>
            <ion-note slot="end" color="dark">R$<span>4,00</span></ion-note>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-no-padding">

      <ion-col size="6" class="ion-no-padding">
        <ion-card>
          <img src="assets/CAGUA.png" alt="Suco com água">

          <ion-item lines="none">
            <ion-label>
              Suco com água
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
            <ion-badge color="cinza">500ml</ion-badge>
            <ion-note slot="end" color="dark">R$ <span>7,49</span></ion-note>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col size="6" class="ion-no-padding">
        <ion-card>
          <img src="assets/CLEITE.png" alt="Suco com leite">

          <ion-item lines="none">
            <ion-label>
              Suco com leite
            </ion-label>
          </ion-item>
          <ion-item lines="none" class="ion-no-padding">
            <ion-badge color="cinza"> 500ml</ion-badge>
            <ion-note slot="end" color="dark">R$<span>8,49</span></ion-note>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
